@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #000;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:url('../zdj/wp.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.rent {
    font-size: 2em;
    color: #f00;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #f00;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #f00;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform: scaleX(1);
}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogin-popup:hover {
    background: #fff;
    color: #000
}

.filter {
    float: left;
    margin: 10px;
    text-decoration-color: #fff;
}

.table-container {
    float: left;
    overflow: auto;
    width: 75%;
}

.car-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 43%;
    padding-left: 5px;
}

.car-item {
    width: 250px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.rent-button {
    width: 250px;
    height: 30px;
    background: #f00;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: 10px;
    font-size: 1em;
    font-weight: 500;
    transition: background .3s;
}

.rent-button:hover {
    background: #c00;
}


button.list-button {
    top: 2px;
    left: 20px;
    width: 100%;
    height: 30px;
    background: #fff;
    color: #f00;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: auto;
    margin-bottom: 10px;
    font-size: 1em;
    font-weight: 500;
    transition: background .3s;
}
